body {
  padding-top: 60px;
}

.post {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #ddd;

  .author {
    color: gray;
    padding: 3px;
  }

  .time {
    color: gray;
    margin-left: 10px;
  }

  .body {
    white-space: pre;
    margin: 2px 0;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
